.skills{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(0deg, #e4fbff 0%, #ffffff 100% );
    
}
.header2{
    text-align: center;
    margin-top: 10px;
}
.head2{
    font-family: 'Crimson Text', serif;
    font-size: 2.5rem;
    padding-bottom: 5px;
    border-bottom: 5px solid #51c4d3 ;
}