@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");


  

 .Coral button {
    color: #16a596;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 4px solid #16a596;
    background: transparent;
    transition: all 1s ease;
  }
  .Coral button span {
    position: absolute;
    content: '';
    top: 1.75em;
    left: 50%;
    width: 20em;
    height: 20em;
    margin-left: -10em;
    border-radius: 42.5%;
    transform-origin: 50% 50%;
    transition: all 1s ease, top 1.5s ease;
  }
 .Coral button .Coralwave1 {
    background: #ffb733;
    animation: smallwave 3s infinite linear;
  }
  .Coral button .Coralwave2 {
    background: #f97890;
    animation: smallwave 4s infinite linear;
  }
.Coral button .Coralwave3 {
    background: #4ab3e1;
    animation: smallwave 5s infinite linear;
  }
 .Coral button:hover {
    transition: all 1s ease;
  }
   .Coral button:hover span {
    top: 0.5em;
    transition: all 1s ease, top 1.5s ease;
  }
  .btn {
    margin: 0 30px 30px 30px;
    display: block;
  }
  .btn-info {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lato';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 3.5em;
    color: #fff;
  }
  .btn-mention {
    margin-bottom: 70px;
    text-align: center;
    font-family: 'Lato';
    letter-spacing: 0.1em;
    font-size: 1.1em;
    color: #fff;
  }
  .btn-mention span {
    font-size: 1.2em;
    font-weight: 600;
  }
  button {
    cursor: pointer;
    overflow: visible;
    outline: none;
    color: #16a596;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 0.9rem 1rem 0.9rem 1rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
  }
  button a {
    text-decoration: none;
  }
  @-moz-keyframes wave {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.975);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  @-webkit-keyframes wave {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.975);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  @-o-keyframes wave {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.975);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  @keyframes wave {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.975);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  @-moz-keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  @-webkit-keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  @-o-keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  @keyframes smallwave {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.8;
    }
    50% {
      transform: rotate(180deg) scale(0.95);
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg) scale(1);
      opacity: 0.8;
    }
  }
  