.background2{
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}
.back3{
    overflow-y: hidden;
    background: linear-gradient(0deg, #caf7e3 0%, #fff 100% );
    height: 100vh;
	width: 100%;
}
.head6{
	font-family: 'Crimson Text', serif;
    font-size: 2.5rem;
}
.type6{
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 80px;
        left: 45%;
    padding-bottom: 5px;
    border-bottom: 5px solid #51c4d3 ;
}
.type5{
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 400px;
 
}
.visit{
    position: absolute;
    z-index: 1;
    top: 190px;
    left: 500px;
    padding-left: 300px; 

}
.visit2{
    position: absolute;
    z-index: 1;
    top: 330px;
    left: 500px;
    padding-left: 300px; 

}
.resume{
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	top: 60%;
	left: 43.5%;
}
.head7{
    color: #1eae98;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:500");



.probtn {
    text-transform: none;
	-webkit-appearance: none;
	background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
	background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
	background-size: 500%;
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	color: #fff;
	cursor: pointer;
	font: 1.5em 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 4rem;
	letter-spacing: .05em;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 11rem;
}

.probtn:hover {
	animation-name: gradient;
	-webkit-animation-name: gradient;
	animation-duration: 2s;
	-webkit-animation-duration: s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100%;
	}
}
